Title
  - Full name
  - "Freelance Full Stack Developer"

Technologies
  - HTML
  - CSS
  - JavaScript
  - TypeScript
  - Node.js
  - React
  - Vue.js
  - MongoDB
  - Express.js
  - Socket.io

About

Portfolio Section
  - Filter by technology
  - Screenshot gallery
  - Short description
  - Click for more details / page link / Github link
Email / Contact
  - Email
  - Github