body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    margin-bottom: -1px;
    background-color: #000000;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#intro {
    position: absolute;
    background-color: #000000;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
}
#intro h1 {
    position: relative;
    background-image: linear-gradient(to right, #fda400, #4400ff);
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 10vh;
    top: 25vh;
}
#description {
    position: absolute;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    top: 100vh;
    text-align: center;
}
#description h2 {
    color: #ffffff;
    text-decoration: underline;
    font-size: 5vh;
}
.grad {
    position: relative;
    background-image: linear-gradient(to right, #fda400, #4400ff);
    background-size: auto;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.start {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    background: none;
    font-size: 3vh;
    color: #A15280;
    border-style: solid;
    border-color: #A15280;
    width: 20vw;
    height: 10vh;
    left: 40vw;
    bottom: 7vh;
    transition-duration: .5s;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.start:hover {
    cursor:grab;
    background-color: #7a6b7454;
}