@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
	font-family: 'JetBrains Mono', monospace;
  height: 98%;
  width: 98%;
	margin: 1%;
	background-color: white;
	text-align: center;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.section {
	border: 5px solid black;
	border-radius: 20px;
}
#title {
	padding: 10px;
	padding-bottom: 40px;
}
#title h1 {
	font-size: 3em;
}
#contact a{
	padding: .3em;
	text-decoration: none;
	color: black;
	font-size: 1.25em;
}
#selection {
	border: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1%;
}
.selectionItem {
	border: 5px solid black;
	border-radius: 20px;
	padding: 5px;
	font-size: 1.25em;
	cursor: grab;
}
#projectsSelection {
	background-color: black;
	color: white;
}
#gallery {
	width: 100%;

}

.project {
	box-sizing: border-box;
	width: 100%;
	color: black;
	margin-bottom: 1%;
	border: 5px solid black;
	border-radius: 20px;
}
.piece {
	box-sizing: border-box;
	width: 100%;
	color: black;
	margin-bottom: 1%;
	border: 5px solid black;
	border-radius: 20px;
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}
.piece h1{
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px;
	border-bottom: 5px solid black;
}
img {
	width: 50%;
	max-width: 50vh;
	max-height: 50vh;
	border-right: 5px solid black;
	border-bottom-left-radius: 15px;
}
.piece p {
	display: block;
	width:48%;
	margin: auto;
}

#gallery a {
	text-decoration: none;
}